node-red/flows.json
[{"id":"bb1a3670.3c2fe8","type":"tab","label":"Basic app","disabled":false,"info":""},{"id":"630e8219.9de8e4","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f3dcfae5.ad3e9","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"iiot_data","ssl":false},{"id":"2acb4702.a89208","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"postgres","ssl":false},{"id":"e90d3163.af61e","type":"mqtt in","z":"bb1a3670.3c2fe8","name":"","topic":"+/temp","qos":"2","datatype":"json","broker":"630e8219.9de8e4","nl":false,"rap":true,"rh":0,"x":150,"y":560,"wires":[["ae937b08.0fa7d"]]},{"id":"955b6543.673d58","type":"mqtt out","z":"bb1a3670.3c2fe8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"630e8219.9de8e4","x":630,"y":420,"wires":[]},{"id":"76c143c8.6a7aac","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_data","payloadType":"str","x":160,"y":80,"wires":[["c2b14d42.dd771"]]},{"id":"20ed77e1.6a2c28","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_data","payloadType":"str","x":160,"y":120,"wires":[["5a0065d2.6bae84"]]},{"id":"ae648ae7.6eca","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":180,"wires":[["3acc46d7.93cbba"]]},{"id":"3acc46d7.93cbba","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time    TIMESTAMPTZ     NOT NULL,   \n    id      TEXT            NOT NULL,   \n    temp    FLOAT           NOT NULL \n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":180,"wires":[["ce133332.a3e2a"]]},{"id":"ce133332.a3e2a","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":680,"y":180,"wires":[]},{"id":"ef3460b4.6e26d","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":340,"y":220,"wires":[["ce133332.a3e2a"]]},{"id":"f25dad01.6f88c8","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"},{"p":"interval","v":"24","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":220,"wires":[["ef3460b4.6e26d"]]},{"id":"a54ea5b6.7de0c8","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":260,"wires":[["ce133332.a3e2a"]]},{"id":"c489c158.f5c09","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":260,"wires":[["a54ea5b6.7de0c8"]]},{"id":"c2b14d42.dd771","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE database {{payload}};","output":"str","x":330,"y":80,"wires":[["acbf06d6.4789b8"]]},{"id":"5a0065d2.6bae84","type":"template","z":"bb1a3670.3c2fe8","name":"DROP database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP database {{payload}};","output":"str","x":320,"y":120,"wires":[["acbf06d6.4789b8"]]},{"id":"39bbe251.0354a6","type":"comment","z":"bb1a3670.3c2fe8","name":"Configuration","info":"","x":90,"y":40,"wires":[]},{"id":"1b41efef.f0ea58","type":"inject","z":"bb1a3670.3c2fe8","name":"sensor 1","props":[{"p":"time","v":"","vt":"date"},{"p":"id","v":"435123","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":400,"wires":[["7bd7e90f.d71b"]]},{"id":"7bd7e90f.d71b","type":"random","z":"bb1a3670.3c2fe8","name":"","low":"19","high":"25","inte":"false","property":"payload","x":280,"y":420,"wires":[["46bdcde4.c0128c"]]},{"id":"9ec7609.bf95ba","type":"inject","z":"bb1a3670.3c2fe8","name":"sensor 2","props":[{"p":"time","v":"","vt":"date"},{"p":"id","v":"875431","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":440,"wires":[["7bd7e90f.d71b"]]},{"id":"46bdcde4.c0128c","type":"function","z":"bb1a3670.3c2fe8","name":"create {id}/temp topic","func":"msg.topic = msg.id + '/temp'\n\nmsg.payload = {\n    \"time\": msg.time,\n    \"id\": msg.id,\n    \"temp\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["955b6543.673d58"]]},{"id":"8209ec1.2bc589","type":"comment","z":"bb1a3670.3c2fe8","name":"Sensor simulation","info":"","x":120,"y":360,"wires":[]},{"id":"e1cc6504.b36ad8","type":"template","z":"bb1a3670.3c2fe8","name":"INSERT INTO temp_readings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO temp_readings (time, id, temp) \nVALUES ('{{payload.time}}', {{payload.id}}, {{payload.temp}});","output":"str","x":520,"y":560,"wires":[["fbf7359d.ea7fd"]]},{"id":"ae937b08.0fa7d","type":"function","z":"bb1a3670.3c2fe8","name":"ISO Timestamp","func":"msg.payload.time = new Date(msg.payload.time).toISOString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":560,"wires":[["e1cc6504.b36ad8"]]},{"id":"fbf7359d.ea7fd","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":760,"y":560,"wires":[]},{"id":"769e3cb.5c91ec4","type":"comment","z":"bb1a3670.3c2fe8","name":"Save data","info":"","x":100,"y":520,"wires":[]},{"id":"acbf06d6.4789b8","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"2acb4702.a89208","name":"TimescaleDB - Database","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":690,"y":80,"wires":[]}]